<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head'); %>
    <link rel="stylesheet" href="/stylesheets/card.css" />
    <script defer src="/scripts/gamelist.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>

  <body>
    <header><%- include('partials/header'); %></header>

    <div class="container-fluid adjust-fill d-flex flex-grow-1">
      <div
        class="d-flex flex-column flex-grow-1 justify-content-center align-items-center"
      >
        <div class="lobby-list">
          <div id="game-list" class="h-100 overflow-auto">
            <!-- <div class="lobby-list-item border">Test</div> -->
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
