<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head'); %>
    <link rel="stylesheet" href="/stylesheets/card.css" />
    <script defer src="/scripts/gamelist.js"></script>
  </head>

  <body>
    <header><%- include('partials/header'); %></header>

    <div class="container-fluid adjust-fill d-flex flex-grow-1">
      <div
        class="d-flex flex-column flex-grow-1 justify-content-center align-items-center"
      >
        <div class="lobby-list">
          <div id="game-list" class="h-100 overflow-auto">
            <div class="lobby-list-item border">Test</div>
          </div>
        </div>
        <div class="row w-50">
          <div class="col py-3 d-flex justify-content-start">
            <a href="/prompt">
              <button
                type="button"
                class="btn fw-bold btn-outline-light btn-lg"
              >
                Cancel
              </button>
            </a>
          </div>
          <div class="col py-3 d-flex justify-content-end">
            <input
              type="submit"
              class="btn fw-bold btn-outline-light btn-lg"
              value="Join Game"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
