<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lobby</title>
  <link rel="stylesheet" href="/stylesheets/lobby.css">
</head>
<body>
  <div class="content">
    <div class="game">
      <div class="board">
        <div class="left-half">
        </div>
        <div class="center">
          <div class="center-top">
          </div>
          <div class="heap">
          </div>
          <div class="center-bottom">
          </div>
        </div>
        <div class="right-half">
        </div>
        <!-- <div class="deck0">
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
        </div>
        <div class="deck1"></div>
        <div class="deck2"></div>
        <div class="deck3"></div> -->
      </div>
    </div>













    <div class="chat">
      <div class="chat-header">
        <span>Chat</span>
      </div>
      <ul>
        <li>Message 1</li>
        <li>Message 2</li>
        <li>Message 3</li>
        <li>Message 4</li>
        <li>Message 5</li>
      </ul>
      <div class="message-box">
        <input type="text">
        <button>Send</button>
      </div>
    </div>
  </div>
</body>
</html>