<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lobby</title>
  <link rel="stylesheet" href="/stylesheets/lobby.css">
</head>

<body>
  <div class="content">
    <div class="game">
      <div class="board">
        <div class="left-half">
        </div>
        <div class="center">
          <div class="center-top">
          </div>
          <div class="heap">
          </div>
          <div class="center-bottom">
            <div class="deck">
              <div class="card first"><span>1</span></div>
              <div class="card"><span>2</span></div>
              <div class="card"><span>3</span></div>
              <div class="card"><span>4</span></div>
              <div class="card"><span>5</span></div>
            </div>
          </div>
        </div>
        <div class="right-half">
        </div>
      </div>
    </div>













    <div class="chat">
      <div class="chat-header">
        <span>Chat</span>
      </div>
      <ul>
        <li>Message 1</li>
        <li>Message 2</li>
        <li>Message 3</li>
        <li>Message 4</li>
        <li>Message 5</li>
      </ul>
      <div class="message-box">
        <input type="text">
        <button>Send</button>
      </div>
    </div>
  </div>
</body>

</html>