<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lobby</title>
  <link rel="stylesheet" href="/stylesheets/lobby.css">
  <link rel="stylesheet" href="/stylesheets/card.css">
  <script defer src="/scripts/lobby.js"></script>
  <script defer src="/scripts/lobby_chat.js"></script>
</head>

<body>
  <div class="content">
    <div class="game">
      <div class="board">
        <div class="left-half">
          <div class="left">
            <div id="left-deck" class="deck left-rotate">
              <div class="card back">
                <span class="inner">
                  <span class="back-mark">UNO</span>
                </span>
              </div>
            </div>
          </div>

        </div>
        <div class="center">
          <div class="center-top center-content">
            <div id="top-deck" class="deck">
              <div class="card back">
                <span class="inner">
                  <span class="back-mark">UNO</span>
                </span>
              </div>
              <div class="card back">
                <span class="inner">
                  <span class="back-mark">UNO</span>
                </span>
              </div>
              <div class="card back">
                <span class="inner">
                  <span class="back-mark">UNO</span>
                </span>
              </div>
              <div class="card back">
                <span class="inner">
                  <span class="back-mark">UNO</span>
                </span>
              </div>
              <div class="card back">
                <span class="inner">
                  <span class="back-mark">UNO</span>
                </span>
              </div>
              <div class="card back">
                <span class="inner">
                  <span class="back-mark">UNO</span>
                </span>
              </div>
              <div class="card back">
                <span class="inner">
                  <span class="back-mark">UNO</span>
                </span>
              </div>
            </div>
          </div>
          <div class="heap center-content">
            <div id="last-played-card" class="card num-6 green">
              <span class="inner">
                <span class="mark">6</span>
              </span>
            </div>
          </div>
          <div class="center-bottom center-content">
            <div id="player-deck" class="deck">
            </div>
          </div>
        </div>
        <div class="right-half">
          <div class="right">
            <div id="right-deck" class="deck right-rotate">
              <div class="card back">
                <span class="inner">
                  <span class="back-mark">UNO</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="say-uno">
        Say UNO
      </button>
    </div>













    <div id="chat" class="chat">
      <ul id="messages" class="messages">
        <div style="margin-top: auto"></div>
        <li>
          <p>player1</p>
          <p>hellooo</p>
        </li>
        <li>
          <p>player1</p>
          <p>hellooo</p>
        </li>
      </ul>
      <div class="message-box">
        <input placeholder="Send a message" type="text">
        <button>SEND</button>
      </div>
    </div>
  </div>
</body>

</html>