<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head'); %>
  <link rel="stylesheet" href="/stylesheets/card.css">
</head>

<body>
  <header>
    <%- include('partials/header'); %>
  </header>

  <div class="container-fluid adjust-fill d-flex flex-grow-1">
    <div class="row row-cols-auto d-flex flex-grow-1 justify-content-center align-items-center">
      <div class="col prompt-space-2">
        <div class="card back prompt">
          <span class="inner">
            <h1 class="prompt-text">Create Game</h1>
          </span>
        </div>
      </div>
      <div class="col prompt-space-2">
        <div class="card back prompt">
          <span class="inner">
            <h1 class="prompt-text"> Join Game </h1>
          </span>
        </div>
      </div>
    </div>
  </div>
</body>

</html>