* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* layout */

.content {
  height: 100vh;
  width: 100vw;
  display: flex;
}

/* game board */

.game {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board  {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-direction: row;
}

.left-half {
  flex: 1;
  /* background-color: red; */
}

.center {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.center > .center-top {
  flex: 1;
}

.center > .heap {
  flex: 2;
}

.center > .center-bottom {
  flex: 1;
}

.right-half {
  flex: 1;
}

.deck {
  display: flex;
}


.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}







/* chat stuff */

.chat {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 6px;
  box-sizing: border-box;
}

.chat > .chat-header {
  display: flex;
  justify-content: center;
  border: 1px lightgray solid;
  border-radius: 4px;
  margin-bottom: 4px;
}

.chat > ul {
  flex: 1;
  border: 1px lightgray solid;
  border-radius: 4px;
  margin-bottom: 4px;
}

.chat > .message-box {
  display: flex;
}

.chat > .message-box > input {
  flex: 1;
  margin-right: 2px;
}