html {
    height: 100%;
}

body {
    background: radial-gradient(circle at center, #be261e, #64100b);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
}

h1 {
    color: white;
}

.adjust-fill {
    margin-top: -8%;
}

.navbar-brand {
    font-size: 3rem;
}

.navbar {
    font-size: 2rem;
}

.main-img {
    margin-bottom: 5%;
    width: 35%;
    height: auto;
}

.prompt {
    margin: auto !important;
    width: 226px !important;
    height: 328px !important;
    padding: 4% !important;
}

.prompt-space-2 {
    padding: 6%;
}

.prompt-text {
    font-size: 2.5rem;
    font-weight: 300;
    margin-left: 10%;
    margin-right: 10%;
}

.lobby-list {
    background: black;
    border: 10px solid white;
    border-radius: 10px;
    width: 50%;
    height: 50%;
}

.lobby-list-item {
    height: 20%;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(176, 173, 173);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(214, 211, 211);
    border-radius: 10px;
}
